{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Karuzela -->
        <aside id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'Darth_Harvey.png' %}" class="d-block w-100" alt="img/Darth harvey.png">
              <div class="carousel-caption d-none d-md-block transparent-background">
                <h5>First slide label</h5>
                <p>Some representative placeholder content for the first slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'Darth_Harvey.png' %}" class="d-block w-100" alt="img/Darth harvey.png">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'Darth_Harvey.png' %}" class="d-block w-100" alt="img/Darth harvey.png">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </aside>
        <!-- Koniec karuzeli -->

        <!-- Artykuły -->
        <main class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
      
        {% for article in articles %}
          <article class="col ">
            <a href="{% url "article" article.article_name %}" class="link-underline link-underline-opacity-0 text-light">
            <div class="card h-100 text-bg-success" style="min-height: 30em;">
              <img src="{{ MEDIA_URL }}{{ article.image_first }}" class="card-img-top" alt={{article.image_first}} style='height: 17em;'>
              <div class="card-body">
                <h5 class="card-title">{{ article.article_name }}</h5>
                <div class="card-text mb-5">{{ article.content|safe }}... </div><small class='text-end d-block'>(Czytraj dalej)</small>
              </div>
              <div class="card-footer mt-auto">
                <small class="text-light">{{ article.data }}</small>
                {% for blog in blogs %}
                {% if  blog == article.blog_id %}
                <a href="{% url "blog" blog.id %}" class="link-underline link-underline-opacity-0 text-light"><small class="float-end">  {{ article.blog_id }} </small></a>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </a>
          </article>
        {% endfor %}

        

        </main>
        <!-- koniec artykułów -->
    </div>
</div>
{% endblock content %}